.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

.imagem {
  object-fit: cover;
  border-radius: 50%;
}

.groupText {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  text-align: center;
}

.textoBase {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.nome {
  font-weight: 700;
}

.quem-e {
  font-weight: 500;
}
