.menu {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  padding: 32px;
  justify-content: space-between;
  align-items: center;
  background-color: #22A389;
  z-index: 9999;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 53px;
}

.navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  list-style-type: none;
  color: #ffffff;
  text-align: center;
  font-family: Capriola;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}

.navMobileLinks {
  display: flex;
  gap: 24px;
  list-style-type: none;
  color: #000000;
  text-align: center;
  font-family: Capriola;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}

.mainLang {
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.mainLang button {
  color: #ffffff;
  font-family: Capriola;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.buttonMenuMobile {
  display: none;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.menuMobile {
  gap: 24px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.navMobile {
  background: white;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.navMobileLinks {
  flex-direction: column;
  justify-content: end;
  text-align: end;
}

@media (max-width: 768px) {
  .menu.active {
    align-items: self-start;
  }

  .buttonMenuMobile {
    display: flex;
    flex-direction: row;
    justify-content: end;
  }

  .nav {
    display: none;
  }

  .mainLang {
    color: #000000;
    height: auto;
    align-items: end;
    gap: 24px;
  }
  .mainLang button {
    color: #000000;
  }
}